.footer {
  margin-top: 64px;

  &-primary {
    background: $main-bg;
    padding: 50px 0;
    color: $gray-tertiary;

    &-inner {
      display: grid;
      grid-template-areas:
        'nav'
        'contact'
        'connect';
      row-gap: 52px;

      @include media-breakpoint-up(lg) {
        grid-template-areas:
          'nav nav'
          'connect contact';
        row-gap: 24px;
        grid-template-columns: 340px 1fr;
      }
    }
  }

  &-nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;

    ul {
      width: 50%;

      li {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
      }
    }

    @include media-breakpoint-up(lg) {
      row-gap: initial;
      flex-wrap: wrap;
      column-gap: 88px;

      ul {
        width: auto;
      }
    }
  }

  &-contact {
    grid-area: contact;

    h1 {
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      text-transform: uppercase;

      span {
        font-weight: 700;
      }
    }

    p {
      margin-bottom: 0;
    }

    ul {
      li {
        font-size: 14px;
        line-height: 18px;
      }

      li:last-child {
        color: $brand-primary;
      }
    }
  }

  &-connect {
    grid-area: connect;
    justify-self: center;

    ul {
      gap: 32px;
    }

    li {
      text-transform: uppercase;

      a {
        text-align: center;

        i {
          font-size: 32px;
          color: $brand-primary;
        }

        span {
          font-size: 14px;
          line-height: 18px;
          font-weight: 300;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      justify-self: start;
      align-self: center;
    }
  }
}
